.login-container {
    background-color: #dfe3e7; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .ant-btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
  }

  .ant-btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .checkbox{
    display: flex;
  }
  